
body {
    background-color:white;
}
.textAnimation {
        width: 100px;
        height: 100px;
        color: #003F87;
        animation: nameMove 5s;
        animation-fill-mode: forwards;
    }
@keyframes nameMove {
    0% {
        left: 0%;
        top: 50%;
    }
    100% {
        left:0%;
        padding-left: 50%;
        padding-right: 50%;
    }
}
.aboutMe {
    margin-left: 2rem; 
    margin-top: 2rem;
    color: black;
}

.mediaicons {
    text-align: center; /* default */
    background-color: white;
}

@media (min-width: 768px) { /* only "big" screens */
    .mediaicons { /* instead of label */
        text-align: center;
    }
}

#logo {
        text-align:center;
        width:100%;
        display:block;
        margin:auto;
}